<h1>Explore messages</h1>

<div id="list-messages">
  <div class="message">
    <% @messages.each do |message| %>
      <%= link_to 'Show', message %>
    <% end %>
  </div>
</div>

<div id="map-messages"></div>