<h1>Explore messages</h1>

<div class="messages-explore-container clearfix">
  <div id="map-messages"></div>
  
  <div id="list-messages">
    <div class="message">
      <% @messages.each do |message| %>
        <%= link_to 'Show', message %>
      <% end %>
    </div>
  </div>
</div>