@font-face { font-family: Prociono; src: url('../fonts/Prociono.otf'); } 

body {
  margin: 0;
  padding: 0;
  background: #845869 url('../images/bricks.jpg') no-repeat;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
  }
  
a, a:visited {
  color: #0b8a6e;
  }
  
a:hover, a:active {
  color: #025744;
  }
  
a img {
  border: none;
  }
  
p {
  margin: 5px 0;
  }
  
h1, h2, h3 {
  font-family: Prociono, Palatino, serif;
  margin: 0;
  }
  
form {
  padding: 5px 0;
  }
  
.inline-form-field {
  display: inline;
  }
  
form input {
  display: block;
  }
  
#container {
  width: 870px;
  margin: 0 auto;
  background: url('../images/complete-container-bg.png') repeat-y;
/*  background-color: rgba(255,255,255,.8);*/
  padding: 0 45px 30px 45px;
  }
  
#masthead {
  padding: 5px 10px;
  height: 80px;
  }
  
#logo {
  height: 90px;
  float: left;
  }

#cool-blurb p {
  float: right;
  width: 500px;
  margin: 0;
  font-size: 1em;
  padding: 12px 27px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: rgba(251,233,81,.5);
  border: 2px solid #fbe951;
  }
  
#content {
  clear: both;
  padding-top: 5px;
  }
  
.column {
  padding: 0 10px;
  margin: 5px 0;
  width: 400px;
  }

#column-1 {
  float: left;
  }
  
#column-2 {
  margin-left: 430px;
  }
  
#single-column {
  width: 820px;
  }
  
.module {
/*  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;*/
  border: 4px solid white;
  background-color: rgba(255,255,255,.7);
  padding: 5px 10px;
  }

#footer {
  clear: both;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  clear: both;
  }
  
#footer-links {
  margin: 0;
  }
  
#footer-links li {
  display: inline;
  list-style: none;
  }
  
#footer-links li a {
  padding: 10px 20px;
  margin-right: 5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: rgba(11,138,110,.3);
  border: 2px solid #0b8a6e;
  text-decoration: none;
  color: black;
  font-family: Prociono, Palatino, serif;
  font-size: 1.3em;
  }
  
#footer-links li a:hover {
  border: 2px solid #025744;
  background-color: rgba(2,87,68,.3);
  }

/**
 * Message explorer
 */
.messages-explore-container {
  width: 900px;
  margin-bottom: 40px;
  }
  
#map-messages {
  height: 300px;
  width: 550px;
  float: right;
  }
  
ul#list-messages {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 340px;
  } 

ul#list-messages li {
  margin-bottom: 10px;
  padding: 5px;
  background-color: rgb(33, 33, 33);
  background-color: rgba(33, 33, 33, 0.4);
  }
  
ul#list-messages li .message-date {
  width: 100px;
  font-weight: bold;
  font-size: .8em;
  float: right;
  margin: 5px 0 5px 5px;
  text-align: right;
  }
  
/**
 * Front subscribe form.
 */
form.subscribe-form label {
  margin: 5px 0 2px 0;
  font-weight: bold;
  font-size: .8em;
  }

form.subscribe-form input {
  margin: 2px 0 20px 0;
  padding: 5px;
  font-size: 1.2em;
  border: 1px solid #888888;
  background-color: #BBBBBB;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 360px;
  }

form.subscribe-form .subscribe-submit {
  width: 100px;
  float: right;
  background-color: rgba(11, 138, 110,.3);
  border: 1px solid #0b8a6e;
  margin-bottom: 2px;
  }

form.subscribe-form .subscribe-submit:hover,
form.subscribe-form .subscribe-submit:active {
  background-color: rgb(111, 238, 210);
}

#location-map {
  width: 360px;
  height: 200px;
  margin-bottom: 10px;
}

a.geolocate-me {
  font-size: .8em;
  width: 100px;
  float: right;
  text-align: right;
}

/**
 * Clearfix
 */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}