<div id="single-column" class="column">
  <div class="module clearfix">
    <h2>About us:</h2>
    <p>Safehood was put together by Cyborg Badgers: Aaron Bannert, Alan Palazzolo, Karen Rustad, Michelle Koeth, and Talin Salway. We developed it for <a href="http://hackforchange.com/">Hack for Change</a>, a 24-hour hackathon organized by Change.org.<p>
    <p>Check out <a href="https://github.com/hackforchange/Safehood/">our source code on Github!</a></p>
  </div>
</div>