<div id="single-column" class="column">
  <div class="module clearfix">
    <h1>Special Features:</h1>
    Example:<br>
    <code>#changeaddress 123 America Way, Americana Town, AM</code>
    <p>Commands must be entered at the beginning of the message.<ul>
    <li>#help - returns the list of commands available</li>
    <li>#changeaddress - changes address to address enteres</li>
    <li>#removeme - removes user from Safehood service</li>
    <li>#signup - signups address provided to Safehood service</li>
    <li>#num - sends you the number of people who are currently registered to your area (so the number of people who will receive a text message when you send a message)</li>
    <li>#mute - does not deregister user but stops sending text messages to them until an #unmute is requested</li>
    <li>#unmute - resume sending of text messages after a #mute from a registered user</li>
    </ul>
    </p>
  </div>
</div>