<div id="single-column" class="column">
  <div class="module clearfix">
    <h1>Command Reference / Gu&#237a de comandos:</h1>
    Example / Ejemplo:<br>
    <code>#changeaddress 123 America Way, Americana Town, AM</code>
    <p>Commands must be entered at the beginning of the message. / Comandos deben escribirse al principio del mensaje.
    <ul>
    <li><strong>#help</strong> - returns the list of commands available. / devuelve la lista de comandos disponibles.</li>
    <li><strong>#crime</strong> - returns a summarized crime report for crime in the last month near the address entered in message. Currently only available for Oakland addresses.
    <li><strong>#changeaddress</strong> - changes address to address entered in message. / frente a los cambios de direcci&#243;n ingresada en el mensaje.</li>
    <li><strong>#removeme</strong> - removes user from Safehood service. / Elimina el usuario del servicio Safehood.</li>
    <li><strong>#signup</strong> - registers the address provided in the message to the Safehood service. / Registra la direcci&#243;n indicada en el mensaje al servicio de Safehood.</li>
    <li><strong>#num</strong> - sends you the number of people who are currently registered to your area (so the number of people who will receive a text message when you send a message). / Le env&#237a el n&#250;mero de personas que actualmente est&#225;n registrados en su &#225;rea (por lo que el n&#250;mero de personas que recibir&#225;n un mensaje de texto cuando se env&#237a un mensaje).</li>
    <li><strong>#mute</strong> - does not deregister user but stops sending text messages to them until an #unmute is requested. / no dar de baja del usuario, pero deja de enviar mensajes de texto a ellos hasta que un comando #unmute se solicita.</li>
    <li><strong>#unmute</strong> - resume sending of text messages after a #mute from a registered user. / reanudar el env&#237o de mensajes de texto despu&#233;s de un comando #mute de un usuario registrado.</li>
    </ul>
    </p>
  </div>
</div>