<div id="column-1" class="column">
  <div class="module clearfix">
    <h2>Get neighborhood SMS alerts:</h2>
    <p>Is that guy on the corner a drug dealer? Give us your phone number and location and receive texts from your neighbors when they notice safety threats or problems in your neighborhood.</p>
    
    <form class="subscribe-form">
      <label class="phone-label">Your phone #</label>
      <input class="phone-input" name="phone" type="text" size="10" value="" />
      <label class="location-label">Your location</label>
      <input class="location-input" name="location" type="text" size="45" value="" />
      <input class="subscribe-submit" value="Sign up!" type="submit" />
    </form>
  </div>
</div>

<div id="column-2" class="column">
  <div class="module">
    <h2>Recent messages from Oakland, CA:</h2>
      <div class="messages-explore-container clearfix">
        <ul id="list-messages">
          <!--<li class="message">
            <% @messages.each do |message| %>
              <%= link_to 'Show', message %>
            <% end %>
          </li>-->
          <li id="message-647868468746" class="message">
            <div class="message-date">10 minutes ago</div>
            <p>There's a guy down the street selling drugs.  Maybe a picture would go here.</p>
          </li>
          <li id="message-45454" class="message">
            <div class="message-date">3 hours ago</div>
            <p>The house on Main St is really run down.</p>
          </li>
          <li id="message-2213131" class="message">
            <div class="message-date">2 days ago</div>
            <p>short.</p>
          </li>
          <li id="message-678999" class="message">
            <div class="message-date">2 days ago</div>
            <p>this is a super long message.  I am not even sure someone cold send something this long, but maybe.  lets hope we handle this well.  its hard to say, really, i mean what is going to happen.  you've got a thug.</p>
          </li>
        </li>
      </div>
    <%= link_to 'Add your own message', new_message_path %>
  </div>
</div>
