<div id="column-1" class="column">
  <div class="module clearfix">
    <h2>Get neighborhood SMS alerts:</h2>
    <p>Is that guy on the corner a drug dealer? Give us your phone number and location and receive texts from your neighbors when they notice safety threats or problems in your neighborhood.</p>
    
    <form class="subscribe-form">
      <label class="phone-label">Your phone #</label>
      <input class="phone-input" name="phone" type="text" size="10" value="" />
      <label class="location-label">Your location</label>
      <input class="location-input" name="location" type="text" size="45" value="" />
      <input class="subscribe-submit" value="Sign up!" type="submit" />
    </form>
  </div>
</div>

<div id="column-2" class="column">
  <div class="module">
    <h2>Recent messages from Oakland, CA:</h2>
    <div id="list-messages">
      <div class="message">
          <% if false %><% @messages.each do |message| %>
            <%= link_to 'Show', message %>
          <% end %> <% end %>
      </div>
    </div>
    <%= link_to 'Add your own message', new_message_path %>
  </div>
</div>
