<div id="column-1" class="column">
  <div class="module clearfix">
    <h2>Get neighborhood SMS alerts:</h2>
    <p>Is that guy on the corner a drug dealer? Give us your phone number and location and receive texts from your neighbors when they notice safety threats or problems in your neighborhood.</p>
    
    <form class="subscribe-form">
      <label class="phone-label">Your phone #</label>
      <input class="phone-input" name="phone" type="text" size="10" value="" />
      
      <label class="location-label">Your location</label>
      <input class="location-input" name="location" type="text" size="45" value="" />
      <div class="location-help">Use the <strong>Find Me</strong> and we'll try to automatically find you.  Or type in an address or cross street and we'll try to find that.  Move around the marker to make your location more accurate.  <strong>We will never publish your address.</strong></strong></div>
      <input name="location-lat" type="hidden" />
      <input name="location-lon" type="hidden" />
      
      <input class="subscribe-submit" value="Sign up!" type="submit" />
    </form>
  </div>
</div>

<div id="column-2" class="column">
  <div class="module">
    <h2>Recent messages from Oakland, CA:</h2>
      <div class="messages-explore-container clearfix">
        <ul id="list-messages">
          <%= render :partial=>"messages/message", :collection => @messages %>
        </ul>
      </div>
    <% #= link_to 'Add your own message', new_message_path %>
  </div>
</div>
