<div id="single-column" class="column">
  <div class="module clearfix">
    <h2>Privacy:</h2>
    <p>We know that your privacy is important and that anonymity is crucial to making an app like Safehood work. To that end, we make sure not to request any more information from you than we need to make the app work. We hash our users' phone numbers and will never share them with others. If you don't want disclose your exact address, we can use a nearby street intersection instead so that not even Safehood knows where you live but we can still give you a useful set of alerts.</p>
  </div>
</div>