<div id="single-column" class="column">
  <div class="module clearfix">
    <h1>Privacy / Pol&#237tica de privacidad:</h1>
    <p>We know that your privacy is important and that anonymity is crucial for ensuring safe communication about neighborhood events with neighbors. To that end, we make sure not to request any more information from you than we need to make the app work. We hash our users' phone numbers and will never share them with others unless legally forced (e.g. government warrant). If you don't want disclose your exact address, we can use a nearby street intersection instead so that not even Safehood knows where you live but we can still give you a useful set of alerts.</p>
    <hr>
    <p>Sabemos que su privacidad es importante y que el anonimato es fundamental para las comunicaciones seguras con sus vecinos. Para ello, nos aseguramos de no solicitar m&#225;s informaci&#243;n de lo que tenemos que hacer el trabajo de la aplicaci&#243;n. N&#250;mero de usuarios de tel&#233;fono no se comparten con otros. Si usted no quiere revelar su direcci&#243;n exacta, introduzca un cruce de calles cerca de su lugar y Safehood puede enviar mensajes dentro de la zona en la que viven sin conocer su direcci&#243;n real.</p>
  </div>
</div>