<!DOCTYPE html>
<html>
<head>
  <title>Safehood</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="masthead">
      <img id="logo" src="/images/simple-logo.png" alt="Safehood" />
      <div id="cool-blurb">
      <p>Safehood is an anonymous Neighborhood Watch-esque SMS alert service and discussion platform. It helps members of a community communicate with each other safely and collaborate around issues of personal safety.</p>
      </div>
    </div>
    
    <div id="content">
      <%= yield %>
    </div>
    
    <div id="footer">
      <ul id="footer-links">
        <li><a href="">About</a></li>
        <li><a href="">Explore</a></li>
        <li><a href="">Privacy</a></li>
      </ul>
    </div>
    
  </div>
</body>
</html>
